#home-page{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 55vw 45vw;
}

#home-page nav{
    grid-column-start: 1;
    grid-column-end: 3;
}

#home-page .input-block {
    margin-top: 24px;
    padding: 100px;
    width: 80%;
}

#home-page button.confirm-button {
    margin-top: 64px;
  
    width: 100%;
    height: 64px;
    border: 0;
    cursor: pointer;
    background: var(--color-primary);
    border-radius: 20px;
    color: var(--color-background);
    font-size: var(--size-text);
    font-weight: 800;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: background-color 0.2s;
}
  
#home-page button.confirm-button:hover {
    background: var(--color-secondary);
}

#home-page section{
    padding-right: 70px;
    align-self: center;
}

#home-page  section h1{
    text-align: center;
    font-weight: normal;
    color: #004453;
    margin-bottom: 30px;

}

#home-page  section .big-box{
    height: 50px;
    width: 73%;
    justify-self: center;
    background: #168097;
    border-radius: 10px;
    margin-bottom: 30px;
}

#home-page  section .medium-box{
    height: 100%;
    width: 90%;
    background: #3BA4BB;
    border-radius: 10px;
}

#home-page  section .small-box{
    height: 100%;
    width: 88%;
    background: #6FC8DC;
    border-radius: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
}

#home-page  section .small-box p{
    color: azure;
}